[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
socketify = "*"
redis = "*"
pytest = "*"

[dev-packages]
autopep8 = "*"

[scripts]
redis-up = "docker compose up -d"
redis-down = "docker compose down"
app = "python app.py"
test = "pytest"
format = "autopep8 -riv --max-line-length 150"
cli = "python cli.py"

[requires]
python_version = "3.11"
